.experience-title{
	margin-bottom: 40px;
}

.vertical-line{
	height: 160px;
	background-color: $red;
	width: 3px;
}

.vertical-line2{
	height: 260px;
	background-color: $red;
	width: 3px;
}

.pointer{
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: white;
	border: 4px solid $red;
	border-radius: 50%;
	left: 9px;
}

#pointer2{
	top: 98px;
}

#pointer4{
	top: 98px;
}

#pointer5{
	top: 197px;
}


.experience-section{
	margin-bottom: 50px;
	opacity: 0;
	transform: translateX(40px);
	transition: all 0.4s ease-in-out;

	&.is-showing{
		opacity: 1;
		transform: translateX(0px);
	}

	.dark{
		font-weight: 500;
	}

	.light{
		color: $dark-grey;
	}
}